/* color pallete */
:root
{
    --darkgreen-color: #355F2E;
    --mintedgreen-color: #1FB57A;
    --hover-color: #F4F9F4;
    --background-color: #FBFEFF;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body
{
    height: 200vh;
    width: 100%;
    background-color: var(--background-color);
}



/* Top page */


/* Navigation */
a
{
    text-decoration: none;
}

#shop
{
    border-bottom: 2px solid var(--darkgreen-color);
}

.nav-option:hover
{
    background-color: var(--hover-color);
}


#header
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    position: fixed;
    border-bottom: 1.5px solid lightgray;
    height: 68px;
}


nav ul
{
    list-style: none;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 2.5em;
    font-size: 16px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    height: 68px;
}

nav li
{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.nav-option
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#right-navigation
{
    display: flex;
    font-size: 20px;
    gap: 2em;
    padding-right: 15vh;
}

#login-button
{
    padding: 0.25em 2em 0.25em 2em ;
    border: 4px solid var(--mintedgreen-color);
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-style: normal;
    color: #167F55;
}

.nav-icon
{
    display: flex;
    width: 24px;
}
.nav-icon img
{
    width: 100%;
}

#logo-container
{
    display: flex;
    align-items: center;
    margin-left: 15vh;
    width: 150px;
}

.logo
{
    width: 150px;
    padding-top: 0.5em;
}

/* main */

#main-container {
    padding-top: 102px;
    width: 100%;
    padding-left: 5em;
    padding-right: 5em ;
 }

 .header-search {
    width: 100%;
    display: flex;
    justify-content: space-between;
 }

.search-container
{
    display: flex;
    border: 2px solid black;
    border-radius: 50px;
    align-items: center;
    
}

.search-container > input[type=text]
{
    border-style: none;
    border-radius: 50px;
    padding-left: 1px;
    padding-right: 1px;
}

.search-container > input[type=text]:focus {
    outline:none;
}

 .search-img img
 {
    width: 100%;

 }

 .search-img
 {
    width: 15px;
 }

#search-img1 {
    margin-top: 5px;
    margin-left: 5px;
}

#search-img2 {
    margin-top: 5px;
    margin-right: 5px;
}

#filter {
    margin-top: 20px;
    display: flex;
    width: 100%;
    border-radius: 5px;
    background: #EDEDED;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 10px;
}

.filter-left {
    display: flex;
    gap: 3%;
}

.filter-left > select {
    height: 100px;
}

.filter-right {
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
}

#counter {
    background-color: white;
    width: 40px;
    height: 40px ;
    padding-top: 10px;
    text-align: center;
    border-radius: 5px;
}

.filter-right > button{
   width: 100px;
}

.price {
    padding-left: 1em;
    padding-right: 1em;
    width: auto;
    height: 40px;
    border-radius: 5px;
    border-style: none
}
#reset-filter {
    background-color: white;
    display:flex;
    width: 120px;
    justify-content: center;
    align-items: center;
}

#reset-filter > img{
    width: 30px;
}

.label-productcard {
    padding-top: 40px;
}
/* product card */
#product-container
{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 2em;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 30px;
}

.product
{
    height: 331px;
    width: 210.96px;
    padding: 1em;
    border-radius: 10px;
    border: 3px solid lightgray;
    max-width: 300px;
    max-height: 500px;
}

.product-header
{
    display: flex;
    justify-content: space-between;
}

.product-header img
{
    width: 7.5%;
}

.product-label
{
    font-family: "Roboto", serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10%;
}

.rating-stars img
{
    width: 10%;
}


.main-product-img
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-product-img img
{
    width: 70%; 
}

.line-card {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #D1D1D1;
    width: 100%;
    height: 1px;
}

.product-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15%;
}

.cost {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#product-container2 {
    display: flex;
    grid-gap: 2em;
    padding-left: 6em;
    padding-right: 6em;
    padding-top: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
}

#product-container2::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.product {
    flex-shrink: 0;
}

#button-card-end {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    padding-left: 5em;
    padding-right:5em ;
    align-items: center;
}

.end-button {
    font-size: 15px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background: #1FB57A;
    color: white;
    border: none;
}

.end-button:hover {
    background: #167F55;
}

.numpage-shop {
    font-size: 20px;
}