/* color pallete */
:root
{
    --darkgreen-color: #355F2E;
    --mintedgreen-color: #1FB57A;
    --hover-color: #13704b;
    --background-color: #FBFEFF;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body
{
    width: 100%;
    background-color: var(--background-color);
}



/* Top page */


/* Navigation */

.red-text
{
    color: red;
}

a
{
    text-decoration: none;
}

#contact
{
    border-bottom: 2px solid var(--darkgreen-color);
}

.nav-option:hover
{
    background-color: var(--hover-color);
}


#header
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    position: fixed;
    border-bottom: 1.5px solid lightgray;
    height: 68px;
}


nav ul
{
    list-style: none;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 2.5em;
    font-size: 16px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    height: 7vh;
}

nav li
{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.nav-option
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#right-navigation
{
    display: flex;
    font-size: 20px;
    gap: 2em;
    padding-right: 15vh;
}

#login-button
{
    padding: 0.25em 2em 0.25em 2em ;
    border: 4px solid var(--mintedgreen-color);
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-style: normal;
    color: #167F55;
}

.nav-icon
{
    display: flex;
    width: 24px;
}
.nav-icon img
{
    width: 100%;
}

#logo-container
{
    display: flex;
    align-items: center;
    margin-left: 15vh;
    width: 150px;
}

.logo
{
    width: 150px;
    padding-top: 0.5em;
}

/* Main */
#main-container
{
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
    background: url("../../Assets/Contact/Green\ Watercolor\ Hand\ Drawn\ Floral\ Background.svg") ;
}

.main-header
{
    text-align: center;
    padding: 100px 0 32px 0;
    font-family: "roboto", sans-serif;
}

.form-container
{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: repeat(4, 1fr);
    width: 100%;
    gap: 1em;
}

#form-container form
{
    width: 100%;
}

#request-container, #call-container, #feedback-container
{
    background-color: white;
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    border-radius: 10px;
    font-family: "roboto", sans-serif;
}


/* Request */
#request-container
{
    grid-column: span 2;
    grid-row: span 4;
}

.request-form
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;
}

.subject-container, .email-container, .phone-container, .name-container
{
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    gap: 0.5em;
}

input
{
    height: 30px;
    border-radius: 4px;
    border: 2px solid lightgrey;
}

.message
{
    display: flex;
    flex-direction: column;
    grid-row: span 3;
    grid-column: span 2;
    gap: 0.5em;
}

textarea
{
    border-radius: 4px;
    border: 2px solid lightgrey;
    height: 100%;
}

label, #phone-call
{
    font-weight: bold;
}

/* call */
#phone-call
{
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: center;
}



/* feedback */
#feedback-container
{
    grid-row: span 3;
    display: flex;
    flex-direction: column;
    gap: 1em;
}


.feedback-form
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
}

#message-feedback
{
    height: 100%;
}

.send-btn
{
    height: 2em;
}

.send-btn input
{
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding: 0.5em;
    background-color: var(--mintedgreen-color);
    border-radius: 5px;
    height: 100%;
    border: none;
    justify-self: start;
}

.send-btn input:hover
{
    background-color: var(--hover-color);
}


input, textarea
{
    padding: 1em;
}


        /* Bottom */

#bottom-container
{
    width: 100%;
    background-color: #272829;
    color: white;
    display: grid;
    padding: 2em;
    font-family: "roboto", sans-serif;
    grid-template-columns: repeat(3, 1fr);
}

/* Left */

#left-section
{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    gap: 2em;
}

#text-container
{
    width: 400px;
}

#white-logo
{
    display: flex;
    width: 200px;
}

#white-logo img
{
    width: 100%;
}

.contact-container
{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contact
{
    display: flex;
    align-items: center;
    gap: 1em;
}

.contact-container a
{
    text-decoration: none;
    color: white;
}

.contact-icon
{
    width: 30px;
}

.contact-icon img
{
    width: 100%;
}

#mid-section
{
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

/* Middle */

#media-header
{
    text-align: center;
    font-size: 32px;
}

#social-media-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.social-media
{
    width: 2.5em;
}

.social-media img
{
    width: 100%;
}


#bottom-nav a
{
    text-decoration: none;
    color: white;
}

#bottom-nav a:hover
{
    color: var(--mintedgreen-color);
    text-decoration: underline;
}

#bottom-nav
{
    text-align: center;
    font-size: 20px;
}


/* lower section */
#lower-section
{
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

#copyright
{
    display: flex;
    align-items: center;
}

#term-privacy
{
    display: flex;
    align-items: center;
    gap: 1em;
}

#term-privacy a
{
    text-decoration: none;
    color: white;
}
