/* color pallete */
:root
{
    --darkgreen-color: #355F2E;
    --mintedgreen-color: #1FB57A;
    --hover-color: #F4F9F4;
    --background-color: #FBFEFF;
}

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body
{
    height: 300vh;
    width: 100%;
    background-color: var(--background-color);
}



/* Top page */


/* Navigation */
a
{
    text-decoration: none;
}

#home
{
    border-bottom: 2px solid var(--darkgreen-color);
}

.nav-option:hover
{
    background-color: var(--hover-color);
}


#header
{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-color);
    position: fixed;
    border-bottom: 1.5px solid lightgray;
    height: 68px;
}


nav ul
{
    list-style: none;
    align-self: center;
    justify-self: center;
    display: flex;
    gap: 2.5em;
    font-size: 16px;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    height: 68px;
}

nav li
{
    display: flex;
    height: 100%;
    justify-content: space-evenly;
}

.nav-option
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #252525;
    height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#right-navigation
{
    display: flex;
    font-size: 20px;
    gap: 2em;
    padding-right: 15vh;
}

#login-button
{
    padding: 0.25em 2em 0.25em 2em ;
    border: 4px solid var(--mintedgreen-color);
    border-radius: 10px;
    font-family: "Roboto", serif;
    font-weight: bold;
    font-style: normal;
    color: #167F55;
}

.nav-icon
{
    display: flex;
    width: 24px;
}
.nav-icon img
{
    width: 100%;
}

#logo-container
{
    display: flex;
    align-items: center;
    margin-left: 15vh;
    width: 150px;
}

.logo
{
    width: 150px;
    padding-top: 0.5em;
}


/* Section 1 */

#section-1
{
    display: flex;
    width: 100%;
    height: 100vh;
    /* border-bottom: 2px solid lightgray; */
    box-shadow: 0px 1px 20px #c7c6c6;
    align-items: center;
}

/* left */
.left-container
{
    width: 50%;
    margin-top: 67.14px;
    padding-left: 5em;
    display: flex;
    flex-direction: column;
}
.small-line
{
    width: 110px;
    height: 3px;
    background-color: #DC329C;
    justify-content: start;
}


.header-container
{
    height: 25%;
}

.green-font
{
    color: var(--mintedgreen-color);
}

.bottom-header
{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.section-1-header
{
    width: 100%;
    font-size: 64px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
}

.paragraph-container
{
    width: 100%;
    font-family: "Playfair Display", serif;
    font-size: 18px;
    line-height: 2;
}

.quote-container
{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 20px;
}

.quote
{
    font-weight: bold;
    font-style: italic;
}


.button-container-section-1
{
    padding-top: 1.5em;
    display: flex;
    gap: 2em;
    font-size: 24px;
}

#more-detail, #shop-now
{
    padding: 0.5em 2.5em 0.5em 2.5em ;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Roboto", serif;
}


#more-detail
{
    border: 3px solid var(--mintedgreen-color);
    color: var(--darkgreen-color);
}

#shop-now
{
    border: 3px solid var(--mintedgreen-color);
    background-color: var(--mintedgreen-color);
    color: white;
}



/* right */

.right-container
{
    width: 50%;
    display: flex;
    justify-content: center;
    padding-right: 4em;
    padding-top: 5em;
}


.circle
{
    background-color: #FFF1CF;
    width: 32.5vw;
    height: 32.5vw;
    border-radius: 50%;
    border: 5px solid var(--darkgreen-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15%;
    margin: 0;

}

.flower-and-tools
{
    width: 85%;
}



/* Section 2 */

#section-2
{
    width: 100%;
    height: 100vh;
    /* border-bottom: 2px solid lightgray; */
    box-shadow: 0px 10px 20px #e8e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

.section-header
{
    margin-top: 0.5em;
    font-size: 64px;
}

#product-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    justify-self: center;
    width: 75%;
    height: 50%;
}

.product
{
    height: 100%;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    border: 3px solid lightgray;
    max-width: 300px;
    max-height: 500px;
}

.product-header
{
    display: flex;
    justify-content: space-between;
}

.product-header img
{
    width: 7.5%;
}

.product-label
{
    font-family: "Roboto", serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10%;
}

.rating-stars img
{
    width: 10%;
}


.main-product-img
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-product-img img
{
    width: 70%; 
}

.line-card {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #D1D1D1;
    width: 100%;
    height: 1px;
}

.product-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15%;
}

.cost {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Section 3 */

#section-3
{
    width: 100%;
    height: 100vh;
    /* border-bottom: 2px solid lightgray; */
    box-shadow: 0px 10px 20px #e8e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

#category-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2 , 29%);
    grid-gap: 40px ;
}

#decoration {
    grid-row:2 ;
    grid-column: 1/3;
}

#valentine {
    grid-row:1 ;
    grid-column: 1/3;
}

#category1 > img {
    width: 540px;
    height: 200px;
}

#category2 > img {
    width: 540px;
    height: 200px;
}

#category3 > img {
    width: 250px;
    height: 440px;
}

#category4 > img {
    width: 250px;
    height: 440px;
}

.service-header {
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    color: #000;
    font-family: Playball;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#text-decoration {
    color: white;
}

#text-gift {
    color: white;
}

/* Section 4 */

#section-4{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-color: #f4f9f4 ;
    border-bottom: 2px solid lightgray; 
    /* box-shadow: 0px 10px 20px #e8e5e5; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}

#our-service-header {
    justify-self: center;
}

.service {
    background-color: white;
    width: 330px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service-card-container {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 20px;
}

.service-img > img {
    padding-top: 40px ;
    width: 200px;
}

.service-header1 {
    color: #418A78;
    text-align: center;
    font-family: Calistoga;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
}

.service-description {
    padding-top: 10px ;  
    text-align: center ;
    padding-left: 20px;
    padding-right: 20px;
    color: #0B442E;
    font-family: Fredoka;
    font-size: 18px;
    font-style: normal; 
    font-weight: 400;
    line-height: normal;
    height: 125px;

}

.sercice-btn {
    width: 100px;
    height: 40px;
    border-radius: 60px;
    background: #1FB57A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sercice-btn > p {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* Bottom */

